<h1>Week 11 - Directives & Two-way Data Binding</h1>
<h1>Forms Module</h1>
<app-signup></app-signup>

<div>
  <h2>For directive </h2>

  <h2>List of members</h2>

  @for(person of members; track $index){
  <h3>{{$index + 1}} -- {{person}}</h3>
  }@empty {
  <h3>No members found</h3>
  }

  <h2>List of documents and links</h2>

  @for(web of documents; track web.title){
  <a href="{{web.url}}" target="_blank">{{web.title}}</a>
  <p></p>
  }@empty {
  <h3>No links found</h3>
  }

  <h2>List of members using NgFor</h2>

  <div *ngIf="members.length >0">
    <h3 *ngFor="let person of members">{{person}}</h3>
  </div>

  <div *ngIf="members.length == 0">
    <h3>No members found</h3>
  </div>

  <h2>List of members</h2>
  <!-- detects change in live time -->
  @if(members.length > 0){
    @for(person of members; track $index){
    <h3>{{$index + 1}} -- {{person}}</h3>
    }
  }@else{
    <h3>No members found</h3>
  }

  <!-- using @if @else directive check if num1 is even or odd -->
   @if(num1 %2 == 0){
    <h3>{{num1}} is even</h3>
   }@else {
    <h3>{{num1}} is odd</h3>
   }

   <h1>Switch directive</h1>

   <h3>Letter grade: {{letterGrade}}</h3>

   @switch (letterGrade) {
    @case ('A') {
      <h3>Incredible</h3>
    }
    @case('B') {
      <h3>Good</h3>
    }
    @case('C'){
      <h3>Could be better</h3>
    }
    @case('D'){
      <h3>Try better</h3>
    }
    @default {
      <h3>Oof</h3>
    }
   }


   <!-- combine the action for different values -->
    <!-- @case('a','e','i','o','u') { <h3>Letter is a vowel</h3>} -->


</div>